---
layout: layouts/base.njk
---
<div class="container mx-auto px-4 py-12 max-w-4xl">
  {% if title %}
      {% include "partials/sheet-header.njk" %}
      {% endif %}

  <div class="prose prose-gray max-w-none">
    {{ content | safe }}
  </div>
</div>
